h1
{
    color:rgb(198, 198, 214);
    font-size:xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
body
{
    background-color: rgb(43, 55, 71);
}
h2.moda
´{
    text-align: center;
}
p
{
    color: rgb(24, 17, 36);

}
h3
{
    color: rgb(223, 212, 212);
    font-size: large;
}
li
{
    color: rgb(24, 21, 18);
}
